#SUBSYSTEMS=="usb", ATTRS{idVendor}=="13ba", ATTRS{idProduct}=="0017", ENV{DISPLAY}=":2", ENV{XAUTHORITY}="/home/m3cool/.Xauthority", RUN+="/usr/local/bin/setkb.sh"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="760a", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/m3cool/.Xauthority", RUN+="/usr/local/bin/setkb.sh"

